<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>koi</title>
</head>
<body>
    <div class="container">
        <main class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>